@import url(reset.css);
/*join.css*/




/*common*/
body{font-size:12px; font-family:Dotum,"돋움",sans-serif; text-align:center; background:url(../images/main/top_layout_bg.gif) repeat-x 0 0;}
a{text-decoration:none; color:#000;}
a:hover{color:#555;}



/*layout*/
#wrap{width:100%; text-align:left; }
	#header{position:relative; width:940px; height:89px; margin:0 auto;}
	#container{width:940px; margin:0 auto;margin-top:45px;margin-bottom:45px;}
		.content1{width:940px;height:240px; margin:0 auto;}
		.content2{margin:0 auto;}

	#footer{width:100%; clear:both; height:80px; background-color:#bcb8b9; border-top:4px solid #6b6b6b;}
		.footArea{width:940px; margin:0 auto;}


/*header*/
/*로고*/
.logo{float:left;}

/*탑메뉴*/
.topMenu{float:right;}
.topMenu li{float:left; margin:5px 0 5px 5px;}



/*주메뉴*/
.gnb{position:absolute;top:35px;right:0;}
.gnb li{float:left;}
.gnb li ul{display:none;position:absolute;top:52px; left:0;}
.gnb li ul li a{display:block; text-indent:-9999px; overflow:hidden; height:54px;}

.gnb li .nav1{left:0;}
.gnb li .nav1 li a{background:url(../images/main/gnbsub01_off.png) no-repeat 0 0;}
.gnb li .nav1 li a:hover{background-image:url(../images/main/gnbsub01_on.png);}

.gnb li .nav1 .nav1_1 a{width:51px;background-position:-38px 0;}
.gnb li .nav1 .nav1_2 a{width:54px;background-position:-89px 0;}
.gnb li .nav1 .nav1_3 a{width:94px;background-position:-143px 0;}
.gnb li .nav1 .nav1_4 a{width:44px;background-position:-236px 0;}
.gnb li .nav1 .nav1_5 a{width:54px;background-position:-279px 0;}
.gnb li .nav1 .nav1_6 a{width:90px;background-position:-332px 0;}


.gnb li .nav2{left:110px;}
.gnb li .nav2 li a{background:url(../images/main/gnbsub02_off_v2.png) no-repeat 0 0;}
.gnb li .nav2 li a:hover{background-image:url(../images/main/gnbsub02_on_v2.png);}

.gnb li .nav2 .nav2_1 a{width:64px;background-position:0 0;}
.gnb li .nav2 .nav2_2 a{width:54px;background-position:-64px 0;}
.gnb li .nav2 .nav2_3 a{width:52px;background-position:-118px 0;}
.gnb li .nav2 .nav2_4 a{width:79px;background-position:-170px 0;}
.gnb li .nav2 .nav2_5 a{width:51px;background-position:-249px 0;}
.gnb li .nav2 .nav2_6 a{width:78px;background-position:-300px 0;}
.gnb li .nav2 .nav2_7 a{width:73px;background-position:-378px 0;}
.gnb li .nav2 .nav2_8 a{width:56px;background-position:-451px 0;}
.gnb li .nav2 .nav2_9 a{width:44px;background-position:-507px 0;}
.gnb li .nav2 .nav2_10 a{width:74px;background-position:-551px 0;}
.gnb li .nav2 .nav2_11 a{width:59px;background-position:-625px 0;}




.gnb li .nav3{left:290px;}
.gnb li .nav3 li a{background:url(../images/main/gnbsub03_off.png) no-repeat 0 0;}
.gnb li .nav3 li a:hover{background-image:url(../images/main/gnbsub03_on.png);}

.gnb li .nav3 .nav3_1 a{width:88px; background-position:0 0;}
.gnb li .nav3 .nav3_2 a{width:77px; background-position:-88px 0;}
.gnb li .nav3 .nav3_3 a{width:115px; background-position:-165px 0;}




.gnb li .nav4{left:400px;}
.gnb li .nav4 li a{background:url(../images/main/gnbsub04_off.png) no-repeat 0 0;}
.gnb li .nav4 li a:hover{background-image:url(../images/main/gnbsub04_on.png);}

.gnb li .nav4 .nav4_1 a{width:81px; background-position:0 0;}
.gnb li .nav4 .nav4_2 a{width:76px; background-position:-81px 0;}
.gnb li .nav4 .nav4_3 a{width:77px; background-position:-157px 0;}
.gnb li .nav4 .nav4_4 a{width:78px; background-position:-234px 0;}
.gnb li .nav4 .nav4_5 a{width:71px; background-position:-312px 0;}


.gnb li .nav5{left:370px;}
.gnb li .nav5 li a{background:url(../images/main/gnbsub05_off_v2.png) no-repeat 0 0;}
.gnb li .nav5 li a:hover{background-image:url(../images/main/gnbsub05_on_v2.png);}

.gnb li .nav5 .nav5_1 a{width:85px; background-position:0 0;}
.gnb li .nav5 .nav5_2 a{width:78px; background-position:-85px 0;}
.gnb li .nav5 .nav5_3 a{width:104px; background-position:-163px 0;}
.gnb li .nav5 .nav5_4 a{width:80px; background-position:-267px 0;}
.gnb li .nav5 .nav5_5 a{width:77px; background-position:-347px 0;}


/*container*/
/*content1*/
.content1{background:url(../images/sub/join/top_visual_soc.jpg) no-repeat 0 0;padding:40px 40px 0 40px;}
.content1 h2{padding-left:10px;}
.content1 .gnb01{width:840px;height:50px;background-color:#fff;position:relative;top:75px;left:10px;}
.content1 ul li{float:left;}
.content1 ul .gnb1{padding:18px;background:url(../images/sub/bbs/location_navi_bg.gif) no-repeat 37px 0;}
.content1 ul .gnb2{padding-top:18px;height:50px;padding-right:50px;background:url(../images/sub/bbs/location_navi_off.gif) no-repeat 85px 0;}
.content1 ul .gnb2 li{display:none;position:absolute;top:50px; left:0;}
.content1 ul li ul li{display:none;}
.content1 ul li .right{position:absolute;top:10px;left:655px;}
.content1 ul li .right li{display:block;float:left;padding-left:5px;}


/*content2*/
.content2{border:1px solid #e3e3e3;padding:50px 50px 150px 50px;}
.content2 form table{width:840px;}
.content2 form table tbody tr{border-bottom:1px solid #e3e3e3;}
.content2 form table tbody .first{border-top:1px solid gray;}
.content2 form table tbody th,.content2 form table tbody td{padding:20px;}
.content2 form table tbody th label{background:url(../images/sub/bbs/th_bar.gif) no-repeat 100% 100%;}
.content2 form table tbody input,select{height:30px;border:1px solid #e3e3e3;}
.content2 form table tbody input.over{height:110px;width:610px;}
.content2 form table tbody dl{line-height:1.5;border:1px solid #e3e3e3;padding:20px;}
.content2 form table tbody dl dt{font-weight:bold;padding-bottom:5px;}
.content2 form table tbody dl p{padding-bottom:5px;}
.content2 form table tbody dl dd{padding-bottom:20px;}
.content2 form table tbody p.input input,.content2 form table tbody p.input label{vertical-align:middle;margin-right:10px;}

.content2 p.post{float:left;padding-right:10px;position:relative;top:50px;left:310px;}











/*footArea*/
.footArea{padding-top:25px;}
.footArea address{float:left;}
.footArea ul{float:right;}
.footArea ul li{float:left;padding-left:5px;}